<DOCTYPE html!>

    <head>
        <title>RTDS UI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="http://localhost:5454/rtds/client.js"></script>  
        <script type="text/javascript" src="rtds.js"></script>
     </head>

    <body>
        <h1>RTDS DATA EXLORER</h1>
        <div id="dbs">

        </div>
        <style>
            body { margin: 20px; }
            h1 { margin 10px; }
            pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
            .string { color: green; }
            .number { color: darkorange; }
            .boolean { color: blue; }
            .null { color: magenta; }
            .key { color: red; }
        </style>

        <script>
            var i = 0;
            function output(inp, k) {
                k.appendChild(document.createElement('pre')).innerHTML = inp;
            }

            function syntaxHighlight(json) {
                json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
                return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                    var cls = 'number';
                    if (/^"/.test(match)) {
                        if (/:$/.test(match)) {
                            cls = 'key';
                        } else {
                            cls = 'string';
                        }
                    } else if (/true|false/.test(match)) {
                        cls = 'boolean';
                    } else if (/null/.test(match)) {
                        cls = 'null';
                    }
                    return '<span class="' + cls + '">' + match + '</span>';
                });
            }

           

            
            var client = new Faye.Client('http://localhost:5454/rtds');
            //var ul = document.querySelector("ul");
            var container = document.querySelector("div");
            var lists = document.querySelectorAll("li");
            Object.size = function(obj) {
                var size = 0, key;
                for (key in obj) {
                    if (obj.hasOwnProperty(key)) size++;
                }
                return size;
            };

            client.addExtension({
                outgoing: function(message, callback) {
                    if (message.channel !== '/meta/subscribe')
                    return callback(message);
                    message.ext = message.ext || {};
                    message.ext.auth = "db_token";
                    callback(message);
                }
            });

            var subscription = client.subscribe('/explore', function(message) {
                // incoming changes - This call dumps db data 
                let all_dbs = message['db'];
                var node = document.getElementById("dbs");
                for (let db in all_dbs) {
                    console.log(all_dbs[db]);
                    var new_node = document.createElement('div');
   
                    new_node.id = all_dbs[db];
                    node.appendChild(new_node);
                    new_node.innerHTML = '';
                    client.subscribe('/'+all_dbs[db], function(message) {
                        var k = document.getElementById(all_dbs[db]);
                        if (Object.size(message) > 0) {
                            var str = JSON.stringify(message, null, 2);
                            var innerPre = document.createElement('pre');
                            innerPre.id = all_dbs[db]+"_pre"; 
                            var ip = document.getElementById(all_dbs[db]);
                            var d = new Date();
                            k.appendChild(innerPre).innerHTML = all_dbs[db]+': <b> '+ d +' </b><br><br>'+syntaxHighlight(str);
                            
                        }
                    }).then(function() {
                        client.publish('/'
                        +all_dbs[db], {query: 'get'});
                    });
                }
            });

            subscription.then(function() {
                if (i === 0)
                    client.publish('/explore', {query: 'get'});
                i++;
            });
            
        </script>
    </body>