<DOCTYPE html!>

    <head>
        <title>To-do App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "Stylesheet" href = "style.css">
        <script type="text/javascript" src="http://localhost:5454/rtds/client.js"></script>  
        <script type="text/javascript" src="rtds.js"></script>
     </head>

    <body>

        <div id = "todo">
            <h1> MY TO-DO LIST <i id="pencil" class="fas fa-pencil-alt"></i> </h1>

            <input type = "text" placeholder="Add New Todo">

            <ul class="todos">
            
            </ul>

        </div>

        <script src="todo.js"></script>
    </body>